.banner{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/musicssb-c8514.appspot.com/o/banner.png?alt=media&token=41984c39-0223-4e6c-bb77-4b8a9b71b8b2);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 25%;
}