.fondo{
    background-image:url(https://firebasestorage.googleapis.com/v0/b/musicssb-c8514.appspot.com/o/fondo222222.jpg?alt=media&token=ede3257e-b1aa-41f4-b300-4a7efdd3ca0e);
    background-attachment: fixed;
    position:relative;
    z-index: 1;
}

.fondo::after{
    content: "";
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
}

.container1{
    margin-bottom: 0;
    margin-inline-end: 30px;
    margin-inline-start: 30px;
}

.fondo{
    margin-block-end: 10px;
}

h3{
    text-align: center;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.705);
}

.blancoynegro{
    filter: grayscale(1);
}