.fondo{
    background-image:url(https://firebasestorage.googleapis.com/v0/b/musicssb-c8514.appspot.com/o/desktop-wallpaper-afterlife-techno-iphone-thumbnail.jpg?alt=media&token=9305b90b-8aa2-4cb1-b8f5-a3709ff47844);
    background-attachment: fixed;
    position:relative;
    z-index: 1;
}

.fondo::after{
    content: "";
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
}